* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}
